@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1e5d8d;
    ---padding-inline-section: 20px
}

body {
    font-family: 'Poppins', sans-serif;
    color: (--primary-text-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    columns: (--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* utility classes */
.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(---padding-inline-section);
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

.hover-links {
    color: var(--primary-text-color);
}

.hover-links:hover {
    color: var(--accent-color);
    transition: 0.5s ease-out;
}

.primary-btn {
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 500;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    text-align: center;
}

.primary-btn:hover {
    background-color: var(--accent-color-dark)
}

.secondary-botton {
    color: var(--secondary-text-color);
    border: 2px solid var(--accent-color);
    border-radius: 6px;
    font-weight: 500;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondary-botton:hover {
    color: var(--accent-color-dark);
    border: 2px solid var(--accent-color-dark);
}

/* top banner */


.top-banner {
    background-image: url(assets/asset\ 32.png);
    background-color: #e74694;
    background-size: 300px;
}

.banner-text {
    color: white;
    padding: 15px 30px;
    text-align: center;
}


/* nav */


.main-nav {
    margin-top: 20px;
    justify-content: space-between;
    position: relative;
}

.company-logo img {
    width: 200px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content:end ;
    gap: 40px;
}

.nav-toggle {
    display: none;
}

/* header section */

header {
    padding: 50px var(---padding-inline-section) 0;
}

.header-section {
    justify-content: center;
    gap: 50px;
}


.header-left {
    width: 40vw;
}

.header-left h1 {
    margin-top: 20px;
}

.get-started-btn {
    margin-top: 20px;
}


.header-right img {
    width: 100%;
}

/* Company */

.companies-header {
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);

}

.logos {
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.logo {
    height: 46px;
}

/* Features Sction */

.features-section {
    padding: 80px var(---padding-inline-section) 0;
    background-image: url(assets/asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.features-area {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;



}

.features-header {
    text-align: center;
}

.features-header-text {
    margin-bottom: 20px;
}

.features-card {
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
    color: var(--primary-text-color);
    margin-top: 20px;
}

/* big feature section */

.big-feature-section {
    padding: 30px var(---padding-inline-section) 0;
}

.big-feature-container {
    gap: 30px;
}
.feature-desc{
    gap: 20px;
}

.feature-desc  img{
    width: 30%;
}
.big-feature-section-person{
    gap: 30px;
}

.big-feature-section-person img{
    width: 20%;
}


#second-big-feature {
    flex-direction: row-reverse;
}

.feature-img img {
    width: 100%;
}

.feature-desc {
    flex-direction: column;
    align-items: flex-start;
}

/* examples */
.example-section {
    padding: 80px var(---padding-inline-section) 0;
}

.examples-header {
    margin-top: 40px;
    flex-direction: column;
    gap: 20px;
}

.example-area {
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}

.examples-card {
    width: 23%;
    position: relative;
    height: 300px;
    background: black;
    transition: 0.5s ease-out;
}

.card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}

.examples-card:hover {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
}

/* New section */

.new-section {
    background-color: var(--primary-text-color);
    padding: 30px var(---padding-inline-section) 0;
}

.left-side {
    flex-direction: column;
    justify-content: space-between;
    gap: 40xp;
}

.left-side h3 {
    margin-top: 15px;
    color: rgb(202, 214, 214);
}

.left-side h2 {
    color: rgb(202, 214, 214);
}



.left-side ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-top: 15px;
}

.left-side ul li {
    list-style: inside;
}

.left-side a {
    margin-block: 30px;
}

.right-side img {
    max-width: 100%;
}

/* cta section */

.cta-section {
    padding: 120px var(--primary-text-color) 80px;
    margin-block: 60px;
}

.cta-section-text {
    flex-direction: column;
    text-align: center;
    gap: 30px;
    align-items: center;
}


/* footer */

footer {
    padding-block: 80px;
    background-color: #ebf2fa;
}

.footer-container {
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-coloum {
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.link-coloum h4 {
    margin-bottom: 10px;
}

/* sub footer */
.sub-footer {
    background-color: #808d9d;
    padding-block: var(---padding-inline-section);
}

.sub-footer-container {
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}